<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 开启注解-->
    <!-- 
    	向spring隐式的注入了 
    	AutowiredAnnotationBeanPostProcessor(可以使用@Autowired) 
    	RequiredAnnotationBeanPostProcessor(可以使用@Required)
    	CommonAnnotationBeanPostProcessor
    	PersistenceAnnotationBeanPostProcessor
    -->
    <context:annotation-config />
    
    <!-- 
		某个bean没有注入到spring的ioc容器里面
		但是需要向里面注入一些属性，可以直接在属性上写上注解
		然后在配置文件里面添加这个就行了
     -->
    <context:spring-configured/>

    <!-- 扫描注解的范围 -->
    <context:component-scan base-package="com.can"/>

    <!--引入dubbo-provider的配置-->
    <import resource="classpath:applicationContext-provider.xml"/>

    <!--引入数据库相关配置-->
    <import resource="classpath*:spring/applicationContext-dao.xml"/>

    <!--引入MQ相关的配置-->
    <import resource="classpath:applicationContext-mq.xml" />

</beans>